.card-container {
    padding: 0
}

.card {
    margin: 10px 0px;
    background-color: #eeeeee;
    color: rgba(0, 0, 0, 0.842)
}

.btn {
    margin-top: 10px;
    margin-right: 5px
}

.joke-question {
    font-size: 16px;
    margin-bottom: 5px
}
